<% form_for([form.meeting,form]) do |f| %>
<%= f.error_messages %>

  <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
  </div>

  <div>
        <%= f.label :Unavailable_Days %>
        <%= f.text_field :collection_of_unavailable_days %>
  </div>

  <div>
        <%= f.label :Available_Days %>
	<%= f.text_field :available_days, :value => ''  %>
  </div>


  <div>
    <%= f.submit 'Submit' %>
  </div>
<% end %>
