<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Exceptional Calendaring</title>

    <%= stylesheet_link_tag 'bluetrip/css/ie' %>
    <%= stylesheet_link_tag 'bluetrip/css/screen' %>
    <%= stylesheet_link_tag 'bluetrip/css/style' %>
    <%= javascript_include_tag "jquery-1.2.6.min" %>
    <%= stylesheet_link_tag 'style' %>

    <!-- <link href="../../../public/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" /> -->

  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="menu">
          <ul>
            <li class="current_page_item"> 
            <%= link_to "Meeting", :controller => "meetings", :action => "index" %></li>
            <li> <%= link_to "New Meeting", :controller => "meetings", :action => "new" %></li>
            <li><%= link_to "Credits", :controller => "credits", :action => "index" %></li>
            <li><a href="http://chasmaninfo.heroku.com/pages/AreasofDevelopmentfor">Contact</a></li>
          </ul>
        </div>
        <!-- end #menu -->


        <div id="search">
          <!-- <form method="get" action=""> -->
          <!--   <fieldset> -->
          <!--     <input type="text" name="s" id="search-text" size="15" /> -->
          <!--     <input type="submit" id="search-submit" value="Search" /> -->
          <!--   </fieldset> -->
          <!-- </form> -->



          <% form_tag meetings_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", :name => nil %>
            </p>
          <% end %>

        </div>
        <!-- end #search -->
      </div>
      <!-- end #header -->

      <!-- charles -->
      <div id="logo">
        <div id="maininfo">
          <h1>
            Let's Get Together
          </h1>
        </div>
        <!-- <h1><a href="#">Reckoning </a></h1> -->
        <!-- <p><em> template design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></em></p> -->
      </div>
      <hr />
      <!-- end #logo -->
      <!-- end #header-wrapper -->
      <div id="page">
        <div id="content">
          <div class="container">
            <p style="color: green">
            <%= flash[:notice] %>
            </p>
            <%= yield  %>
          </div>
        </div>
        <!-- end #content -->

        <div id="sidebar">
          <ul>
            <li>
              <h2>Brief Help</h2>
              <p>Set up a meeting on a business day, ie M-F.  Add yourself as a participant.  Enter the days you can not make the meeting.  Those days are removed from the list of possible days which are open.  Repeat for other participants you contact</p>
            </li>
            <li>
              <h2>What is with the name?</h2>
	      <p>Exceptional Calendar is an optimistic calendaring application.  Where all people will get together as soon as everyone has a free day in common.   You can enter days by exception, in other words you can indicate the dates you can not get together and the calendar assumes you can get together on all the other days.</p>
            </li>
            <li>
              <h2>Turpis nulla</h2>
              <ul>
                <li><a href="#"></a><a href="#">Nec metus sed donec</a></li>
                <li><a href="#">Magna lacus bibendum mauris</a></li>
                <li><a href="#">Velit semper nisi molestie</a></li>
                <li><a href="#">Eget tempor eget nonummy</a></li>
                <li><a href="#">Nec metus sed donec</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
      </div>
      <!-- end #page -->
      
      <div id="footer">
        <p>      Copyright (c) <%=Time.now.strftime("%Y") %>  world wide web week day meet up (w4daymeetup). All rights reserved.  Design by Charles Magid.</p>

      </div>
      <!-- end #footer -->
    </div>



  </body>
</html>
